autopilot/seatalk_last.json
[{"id":"c6ec361.b2dd7c8","type":"tcp out","z":"7569f24e.70081c","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: the server will get messaged","x":760,"y":920,"wires":[]},{"id":"fab34c46.b451a","type":"serial in","z":"7569f24e.70081c","name":"","serial":"f32ab698.687798","x":170,"y":260,"wires":[["ec1be435.a00498","3790fd81.574972"]]},{"id":"ec1be435.a00498","type":"debug","z":"7569f24e.70081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":240,"wires":[]},{"id":"49018ac0.0951b4","type":"debug","z":"7569f24e.70081c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":560,"wires":[]},{"id":"445a31c3.3bc17","type":"serial out","z":"7569f24e.70081c","name":"","serial":"f32ab698.687798","x":660,"y":640,"wires":[]},{"id":"e8a92fcb.fc7ae","type":"function","z":"7569f24e.70081c","name":"CRLF","func":"msg.payload = msg.payload + \"\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":540,"wires":[["49018ac0.0951b4","445a31c3.3bc17"]]},{"id":"c6ad20d4.f6241","type":"ui_button","z":"7569f24e.70081c","name":"","group":"63c29ed4.c7037","order":4,"width":"0","height":"0","passthru":false,"label":"VENTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$IIMWV,339,R,09.52,N,A*24","payloadType":"str","topic":"","x":120,"y":440,"wires":[["e8a92fcb.fc7ae"]]},{"id":"e0b18d9d.8a79d","type":"ui_button","z":"7569f24e.70081c","name":"","group":"6a2389f6.2db018","order":3,"width":"2","height":"1","passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"$RPPAP,41,1,FE*58","payloadType":"str","topic":"","x":110,"y":480,"wires":[["e8a92fcb.fc7ae"]]},{"id":"a36dad0b.3eb93","type":"ui_button","z":"7569f24e.70081c","name":"","group":"6a2389f6.2db018","order":5,"width":"3","height":"1","passthru":false,"label":"STANDBY","color":"","bgcolor":"green","icon":"","payload":"$RPPAP,41,2,FD*5A","payloadType":"str","topic":"","x":130,"y":520,"wires":[["e8a92fcb.fc7ae"]]},{"id":"73eb2660.fa6338","type":"ui_button","z":"7569f24e.70081c","name":"","group":"6a2389f6.2db018","order":6,"width":"2","height":"1","passthru":false,"label":"WIND","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"$RPPAP,41,23,DC*6C","payloadType":"str","topic":"","x":110,"y":560,"wires":[["e8a92fcb.fc7ae"]]},{"id":"aed9fefd.0f619","type":"ui_button","z":"7569f24e.70081c","name":"","group":"69bb5ac1.4ad6b4","order":3,"width":"2","height":"1","passthru":false,"label":"-1","color":"","bgcolor":"red","icon":"","payload":"$RPPAP,41,5,FA*58","payloadType":"str","topic":"","x":110,"y":600,"wires":[["e8a92fcb.fc7ae"]]},{"id":"9e06b886.ca1698","type":"ui_button","z":"7569f24e.70081c","name":"","group":"69bb5ac1.4ad6b4","order":4,"width":"2","height":"1","passthru":false,"label":"-10","color":"","bgcolor":"red","icon":"","payload":"$RPPAP,41,6,F9*23","payloadType":"str","topic":"","x":110,"y":640,"wires":[["e8a92fcb.fc7ae"]]},{"id":"4e2196fe.af6ff8","type":"ui_button","z":"7569f24e.70081c","name":"","group":"69bb5ac1.4ad6b4","order":6,"width":"2","height":"1","passthru":false,"label":"+1","color":"","bgcolor":"green","icon":"","payload":"$RPPAP,41,7,F8*23","payloadType":"str","topic":"","x":110,"y":680,"wires":[["e8a92fcb.fc7ae"]]},{"id":"c6556c2d.1dff3","type":"ui_button","z":"7569f24e.70081c","name":"","group":"69bb5ac1.4ad6b4","order":5,"width":"2","height":"1","passthru":false,"label":"+10","color":"","bgcolor":"green","icon":"","payload":"$RPPAP,41,8,F7*23","payloadType":"str","topic":"","x":110,"y":720,"wires":[["e8a92fcb.fc7ae"]]},{"id":"31828774.baf0c8","type":"ui_gauge","z":"7569f24e.70081c","name":"","group":"63c29ed4.c7037","order":0,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"180","seg2":"","x":570,"y":320,"wires":[]},{"id":"3790fd81.574972","type":"function","z":"7569f24e.70081c","name":"getHeading","func":"var sp= msg.payload.split(\",\");\nvar saida=msg.payload.substring(3,6);\nif(saida==\"PAP\"){\n   msg.payload = sp[1];\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["31828774.baf0c8"]]},{"id":"9a02cf38.876ac","type":"debug","z":"7569f24e.70081c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":760,"wires":[]},{"id":"6de1b381.79cdec","type":"tcp in","z":"7569f24e.70081c","name":"","server":"client","host":"127.0.0.1","port":"10110","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":430,"y":700,"wires":[["ad63c4b5.5423f8"]]},{"id":"ad63c4b5.5423f8","type":"function","z":"7569f24e.70081c","name":"MWV","func":"var saida=msg.payload.substring(3,6);\nvar ini = msg.payload;\nvar k;\nif(saida==\"MWV\"){\n    var f2=msg.payload.split(\",\");\n    var nn= Number(f2[1]).toFixed(0);\n\n    if(nn<0){\n        nn=Number(nn)+Number(360);\n        \n    }\n    f2.splice(1,1,nn.toString());\n    msg.payload=f2.join(\",\");\n    msg.payload= msg.payload.substr(0,msg.payload.length-4);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["e4f067.fcb0bf98"]]},{"id":"cac56c14.c4312","type":"delay","z":"7569f24e.70081c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":760,"wires":[["9a02cf38.876ac"]]},{"id":"e4f067.fcb0bf98","type":"function","z":"7569f24e.70081c","name":"checksum","func":"var checksum=0;\nvar i = msg.payload.length;\nwhile (i-- > 1 ) {\n  checksum = checksum ^ msg.payload.charCodeAt(i);\n}\n\n//console.log(checksum.toString(16));\n\nmsg.payload=msg.payload + \"*\"+checksum.toString(16)+\"\\r\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":760,"wires":[["cac56c14.c4312"]]},{"id":"4e30326d.a735bc","type":"inject","z":"7569f24e.70081c","name":"","topic":"","payload":"$IIMWV,339,R,09.52,N,A*24","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["e8a92fcb.fc7ae"]]},{"id":"bd5387e7.517198","type":"debug","z":"7569f24e.70081c","name":"show incomming text at the debug tab","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":980,"wires":[]},{"id":"19e669d5.f16516","type":"inject","z":"7569f24e.70081c","name":"button: create a msg","topic":"","payload":"Hello from Node-RED client.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":840,"wires":[["386f0a1f.046976"]]},{"id":"70ad2da8.c07654","type":"tcp in","z":"7569f24e.70081c","name":"Node-RED Client","server":"client","host":"localhost","port":"25000","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text2","base64":false,"x":140,"y":920,"wires":[["47dc505d.e664e","ee8f2d22.8a023"]]},{"id":"47dc505d.e664e","type":"template","z":"7569f24e.70081c","name":"\"CLIENT GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CLIENT GOT:\n{{payload}}","x":390,"y":980,"wires":[["bd5387e7.517198"]]},{"id":"386f0a1f.046976","type":"template","z":"7569f24e.70081c","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":380,"y":840,"wires":[["c6ec361.b2dd7c8"]]},{"id":"ee8f2d22.8a023","type":"template","z":"7569f24e.70081c","name":"no msg back, we do behave!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":420,"y":920,"wires":[["c6ec361.b2dd7c8"]]},{"id":"f32ab698.687798","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"63c29ed4.c7037","type":"ui_group","z":"","name":"Navegação","tab":"d58a61ac.4fdc3","order":3,"disp":true,"width":"6","collapse":false},{"id":"6a2389f6.2db018","type":"ui_group","z":"","name":"Estado","tab":"d58a61ac.4fdc3","order":2,"disp":true,"width":"7","collapse":false},{"id":"69bb5ac1.4ad6b4","type":"ui_group","z":"","name":"Comando","tab":"d58a61ac.4fdc3","order":1,"disp":true,"width":"8","collapse":false},{"id":"d58a61ac.4fdc3","type":"ui_tab","z":"","name":"AutoPilot","icon":"dashboard","order":2}]